<body>
    <title>
        Листочек: просмотр файла журнала
    </title>
    <header class="block stretcher">
        <img src="/resources/banner.jpg" height="32">
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/devices">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
            <a class="action" href="/account" id="account">{{user.username}}</a>
        </nav>
    </header>
    <div class="block stretcher">
        <div class="bold">
            <div class="grand">
            Просмотр файла журнала
            </div>
            <span class="code">
            {% if logFile %}
            {{logFile.name}} ({{logFile.size|filesizeformat}}, {{logFile.lines|length}} строк)
            {% endif %}
            </span>
        </div>
        <nav class="actionblock">
            {% if logFile %}
            <a class="action" onclick="onDownloadLog('{{logFile.name}}');">скачать</a>
            {% endif %}
            <a class="action" href="/log/view">к списку</a>
        </nav>
    </div>
    {% if logFile %}
    <div class="block maxheight">
        <div class="code line-view vertical" id="view">
            {% for line in logFile.lines %}
            <div class="log-lineno">
                {{loop.index}}
            </div>
            <div class="log-message">
                {{line|safe}}
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="block">
    Нет файлов для отображения.
    </div>
    {% endif %}
    <div class="block stretcher status-bar" style="display: none;">
        <div id="status"></div>
        <div>
            <a class="action" href="#" onclick="hideStatusBar()">скрыть</a>
        </div>
    </div>
    <footer class="block stretcher fixed-bottom">
        <div>
        Листочек, система автоматического контроля растений.
        2023 год. Никакие права не защищены.
        </div>
        <div>
        {{version}}
        </div>
    </footer>
    <script src="/libraries/blob.js"></script>
    <script src="/libraries/file-saver.js"></script>
    <script src="/leafyy.js"></script>
    <script src="/logView.js"></script>
</body>
