<!DOCTYPE html>
<html>

<head>
    <title>
        Иваров листочек: правила
    </title>
    <link rel="stylesheet" type="text/css" href="greenyy.css">
</head>

<body>
    <header class="block stretcher">
        <div class="grandtitle">
            Листочек
        </div>
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/devices">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
        </nav>
    </header class="block stretcher">
    <div class="block">
        <div class="grandtitle">
            Журнал
        </div>
    </div>
</body>

</html>