<!DOCTYPE html>
<html>

<head>
    <title>
        Листочек: правила
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="/resources/favicon.svg">
    <link rel="icon" type="image/png" href="/resources/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/resources/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#fff3b4">
    <script src="/leafyy.js"></script>
    <script src="/log.js"></script>
    <link rel="stylesheet" type="text/css" href="/leafyy.css">
</head>

<body>
    <header class="block stretcher">
        <div class="bold grand" onclick="window.location = '/';">
            Листочек
        </div>
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/hardware">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
        </nav>
    </header class="block stretcher">
    <div class="block stretcher">
        <div class="bold grand">
            Журнал и консоль
        </div>
        <nav class="actionblock">
            <span>обновлять каждые</span>
            <input class="formi" type="number" min="1" max="3600" id="updatePeriod" onchange="onSetUpdatePeriod()">
            <span>сек.</span>
            <a class="action" href="#" onclick="onUpdateConsoleData()">сейчас</a>
            <a class="action" href="/log/view">к журналу</a>
        </nav>
    </div>
    <div class="block maxheight">
        <div class="code log-view vertical" id="view">
            {% for line in console %}
            <div class="log-lineno">
                {{loop.index}}
            </div>
            <div class="log-message">
                {{line|safe}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="block stretcher" style="display: none;" id="statusBar">
    <div id="status"></div>
    <div>
    <a class="action" href="#" onclick="hideStatusBar()">скрыть</a>
    </div>
    </div>
    <div class="block">
        <div id="console" style="display: contents;">
            <select class="code formi" id="target" onchange="onConsoleTargetSelected()">
                <option value="server">Сервер</option>
                {% for device in hardware.devices %}
                {% if device.status == 1 %}
                <option value="{{device.address}}">{{device.address}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input class="code formi maxwidth" type="text" id="data" onkeydown="onConsoleInputKeyDown(event)">
            <select class="code formi" id="type" onchange="onConsoleInputTypeSelected()">
                <option value="ascii">ASCII</option>
                <option value="bin">BIN</option>
                <option value="oct">OCT</option>
                <option value="dec">DEC</option>
                <option value="hex">HEX</option>
            </select>
            <button class="code formi" id="consoleSend" onclick="onConsoleSend()">Отправить</button>
        </div>
    </div>
</body>

</html>