<!DOCTYPE html>
<html>

<head>
    <title>
        Листочек: файлы журнала
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="/resources/favicon.svg">
    <link rel="icon" type="image/png" href="/resources/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/resources/safari-pinned-tab.svg" color="#5bbad5">
    <meta charset="utf-8">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#fff3b4">
    <link rel="stylesheet" type="text/css" href="/leafyy.css">
</head>

<body>
    <header class="block stretcher">
        <div class="bold grand" onclick="window.location = '/';">
            Листочек
        </div>
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/hardware">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
        </nav>
    </header class="block stretcher">
    <div class="block stretcher">
        <div class="bold grand">
            Файлы журнала
            <span class="code"> 
            {% if logData %}
            {{logData|length}}
            {% else %}
            0
            {% endif %}
            </span>
        </div>
        <nav class="actionblock">
            <input class="action" type="search" id="search" 
                placeholder="поиск..." oninput="onSearchQuery()">
            {% if reversed %}
            <a class="action" href="/log/view">сначала новые</a>
            {% else %}
            <a class="action" href="/log/view?reversed=1">сначала старые</a>
            {% endif %}
            <a class="action" href="/log">к консоли</a>
        </nav>
    </div>
    {% if logData %}
    <div class="block file-view" id="view">
        {% for file in logData %}
        <div class="file-card">
            <div>
                <img class="icon" src="/resources/file.svg"/>
                <a href="/log/view/{{file.name}}">{{file.name}}</a>
            </div>
            <div>
                <a href="/log/{{file.name}}">
                <img class="icon" src="/resources/download.svg"/>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="block" id="no-content" style="display: none;">
    Нет файлов для отображения.
    </div>
    {% else %}
    <div class="block" id="no-content">
    Нет файлов для отображения.
    </div>
    {% endif %}
    <script src="/libraries/jquery.js"></script>
    <script src="/libraries/js-cookie.js"></script>
    <script src="/leafyy.js"></script>
    <script src="/logList.js"></script>
</body>

</html>