<!DOCTYPE html>
<html>
    <head>
        <title>
            Листочек: авторизация
        </title>
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png">
        <link rel="icon" type="image/svg+xml" href="/resources/favicon.svg">
        <link rel="icon" type="image/png" href="/resources/favicon.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/resources/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#fff3b4">
        <link rel="stylesheet" type="text/css" href="/leafyy.css">
    </head>

    <body>
        <header class="block stretcher">
            <img src="/resources/banner.jpg" height="40">
        </header class="block stretcher">
        <div class="block stretcher">
            <div class="bold grand">
                Авторизация
            </div>
        </div>
        <div class="block vertical">
            <form>
                <input type="text" id="login" class="forminp code bold grand">
                <input type="password" id="password" class="forminp code bold grand">
                <br>
                <br>
                <input type="submit" id="confirm" class="action code bold grand" value="Вход">
            </form>
        </div>
        <footer class="block stretcher">
            <div>
            Листочек, система автоматического контроля растений.
            2023 год. Никакие права не защищены.
            </div>
            <div>
            {{version}}
            </div>
        </footer>
        <script src="/leafyy.js"></script>
    </body>
</html>
