<!DOCTYPE html>
<html>

<head>
    <title>
        Листочек: авторизация
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="/resources/favicon.svg">
    <link rel="icon" type="image/png" href="/resources/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/resources/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#fff3b4">
    <link rel="stylesheet" type="text/css" href="/leafyy.css">
</head>

<body>
    <header class="block stretcher">
        <div class="title grand" onclick="window.location = '/';">
            Листочек
        </div>
    </header class="block stretcher">
    <div class="block stretcher">
        <div class="title grand">
            Авторизация
        </div>
    </div>
    <div class="block vertical">
        <form>
            <input type="text" id="login" class="forminp code title grand">
            <input type="password" id="password" class="forminp code title grand">
            <br>
            <br>
            <input type="submit" id="confirm" class="action code title grand" value="Вход">
        </form>
    </div>
</body>

</html>