<body>
    <span class="hidden" id="title">Листочек: устройства</span>
    <header class="block stretcher">
        <img src="/resources/banner.jpg" height="32">
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/devices">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
            <a class="action" href="/account" id="account">👤 {{user.username}}</a>
        </nav>
    </header>
    <div class="block stretcher">
        <div class="bold grand">
            Устройства
            <span class="code">
                {% if devices %}
                {{devices.devices|length}}
                {% else %}
                0
                {% endif %}
            </span>
        </div>
        <a class="action" href="#">добавить</a>
    </div>
    <div class="view horizontal">
        {% if devices.devices %}
        {% for device in devices.devices %}
        <div class="block card">
            <div class="stretcher">
                <div>
                    {% if device.status == 1 %}
                    <span class="bold larger positive">
                        {% elif device.status == -1 %}
                        <span class="bold larger negative">
                            {% else %}
                            <span class="bold larger">
                                {% endif %}
                                {{device.displayName}}
                            </span>
                            <span class="bold larger code"> @{{device.address}} </span>
                </div>
                {% if user.warden or user.master %}
                <div class="actionblock">
                    <a class="action" href="#">изменить</a>
                    <a class="action" href="#">удалить</a>
                </div>
                {% endif %}
            </div>
            <div class="vertical">
                <p>{{device.description}}</p>
                <span class="bold"></span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        Нет устройств для отображения.
        {% endif %}
    </div>
    <div class="block stretcher status-bar" style="display: none;">
        <div id="status"></div>
        <div>
            <a class="action" href="#" onclick="hideStatusBar()">скрыть</a>
        </div>
    </div>
    <footer class="block stretcher fixed-bottom">
        <div>
        Листочек, система автоматического контроля растений.
        2023 год. Никакие права не защищены.
        </div>
        <div>
        {{version}}
        </div>
    </footer>
    <script src="/leafyy.js"></script>
    <script src="/devices.js"></script>
</body>
