<body>
    <title>
        Листочек: правила
    </title>
    <header class="block stretcher">
        <img src="/resources/banner.jpg" height="32">
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/devices">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
            <a class="action" href="/account" id="account">{{user.username}}</a>
        </nav>
    </header>
    <div class="block stretcher">
        <div class="bold grand">
            Правила
            <span class="code">
                {% if rules %}
                {{rules|length}}
                {% else %}
                0
                {% endif %}
            </span>
        </div>
        <a class="action" href="#">добавить</a>
    </div>
    <div class="block view horizontal">
        {% if rules %}
        <ul>
            {% for rule in rules %}
            <li>
                <div class="rule">
                    {{rule.name}}
                </div>
                {% endfor %}
                {% else %}
                Нет правил для отображения.
                {% endif %}
            </li>
        </ul>

    </div>
</body>
