<!DOCTYPE html>
<html>

<head>
    <title>
        Иваров листочек: правила
    </title>
    <link rel="stylesheet" type="text/css" href="rules.css">
</head>

<body>
    <header>
        <div id="title">
            Листочек
        </div>
        <nav>
            <a href="/">домой</a>
            <a href="/rules">правила</a>
            <a href="/devices">устройства</a>
        </nav>
    </header>
    <p></p>
    <div id="actions">
        <input type="button" value="Добавить">
        <input type="button" value="Изменить">
        <input type="button" value="Удалить">
    </div>
    <div class="textblock" id="view">
        {% if rules %}
        <ul>
            {% for rule in rules %}
            <li>
                <div class="rule">
                    {{rule.name}}
                </div>
                {% endfor %}
                {% else %}
                Нет правил для отображения.
                {% endif %}
            </li>
        </ul>

    </div>
</body>

</html>