<!DOCTYPE html>
<html>

<head>
    <title>
        Иваров листочек: домашняя страница
    </title>
    <link rel="stylesheet" type="text/css" href="greenyy.css">
</head>

<body>
    <header class="block stretcher">
        <div class="grandtitle">
            Листочек
        </div>
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/devices">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
        </nav>
    </header class="block stretcher">
    <div class="block">
        <div class="grandtitle">
        Грядки
        </div>
    </div>
    <div class="block" id="greet">
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
    </div>
    
    <div class="block stretcher" id="btn1c">
    {% if btn1counter %}
        Button 1: {{btn1counter}} times clicked!
    {% else %}
        Button 1 counter not initialized.
    {% endif %}
        <form action="/clickBtn1">
            <input type="submit" title="Click Button 1!">
        </form>
    </div>
    <div class="block stretcher", id="msgShower">
    {% if message %}
        Message: {{message}}
    {% else %}
        Message shower not initialized.
    {% endif %}
    <div id="btn2">
        <form action="/clickBtn2" method="post">
            <input type="text" name="data" />
            <input type="submit" />
        </form>
    </div>
    </div>
</body>

</html>