<!DOCTYPE html>
<html>

<head>
    <title>
        Иваров листочек: домашняя страница
    </title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <header>
        <div id="title">
            Листочек
        </div>
        <nav>
            <a href="/">домой</a>
            <a href="/rules">правила</a>
            <a href="/devices">устройства</a>
        </nav>
    </header>
    <p class="block" id="greet">
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
        Hello and welcome to Greenyy Alpha!
    </p>
    
    <div class="block stretcher" id="btn1c">
    {% if btn1counter %}
        Button 1: {{btn1counter}} times clicked!
    {% else %}
        Button 1 counter not initialized.
    {% endif %}
        <form action="/clickBtn1">
            <input type="submit" title="Click Button 1!">
        </form>
    </div>
    <p>
    <div class="block stretcher", id="msgShower">
    {% if message %}
        Message: {{message}}
    {% else %}
        Message shower not initialized.
    {% endif %}
    <div id="btn2">
        <form action="/clickBtn2" method="post">
            <input type="text" name="data" />
            <input type="submit" />
        </form>
    </div>
    </div>
    </p>
</body>

</html>