/*globals*/

:root {
    --color-background-major: #fff3b4;
    --color-background-minor: #ffffff;
    --color-accent-minor: #000000;
    --color-accent-highlight: #1cd000;
    --color-negation-major: #fea1a1;
    --color-negation-highlight: #fe1c00;
}

/*classes*/

.hidden {
    display: none;
}

.positive {
    color: var(--color-accent-highlight);
}

.negative {
    color: var(--color-negation-highlight);
}

.block {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    background-color: var(--color-background-minor);
    border-top: 1.5px solid black;
    border-bottom: 3px solid black;
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
    border-radius: 8px;
    padding: 8px;
}

.block:hover {
    border-color: var(--color-accent-highlight);
    box-shadow: 0 2px 2px var(--color-accent-highlight);
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.stretcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maxheight {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    overflow-y: hidden;
}

.maxwidth {
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    overflow-x: hidden;
}

.larger {
    font-size: larger;
}

.grand {
    font-size: x-large;
}

.bold {
    font-weight: bold;
}

.bold:hover {
    color: var(--color-accent-highlight);
}

.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    font-size: small;
    gap: 4px;
}

.file-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    column-gap: 16px;
    row-gap: 8px;
}

.icon {
    width: 16px;
    height: 16px;
}

.modal-field {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #000000;
    /* Fallback color */
    background-color: #00000077;
    /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal {
    display: none;
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.card {
    flex: auto;
    display: block;
    width: auto;
    min-width: fit-content;
}

.file-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0 0 4px 4px;

    padding: 4px;
}

.file-card:hover {
    color: var(--color-accent-highlight);
    border-bottom: 2px solid var(--color-accent-highlight);
    border-right: 1px solid var(--color-accent-highlight);
    border-left: 1px solid var(--color-accent-highlight);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px var(--color-accent-highlight);
}

/* Scrollable/log div */
.log-view {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: max-content max-content;
    max-height: max-content;
    width: -webkit-fill-available;
    overflow-y: auto;
    overflow-x: auto;
}

/* Log messages */
.log-message {
    display: block;
    white-space: nowrap;
    padding-left: 8px;
    /* Enable word wrap */
}

.log-lineno {
    display: block;
    white-space: nowrap;
    color: gray;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid gray;
    padding-right: 8px;
    margin: 0;
    text-align: end;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.action {
    padding: 4px;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 0 0 4px 4px;
    border-top: none;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.action:hover {
    color: var(--color-accent-highlight);
    border-bottom: 2px solid var(--color-accent-highlight);
    border-right: 1px solid var(--color-accent-highlight);
    border-left: 1px solid var(--color-accent-highlight);
    box-shadow: 0 2px 2px var(--color-accent-highlight);
}

.actionblock {
    align-self: center;
}

.card .actionblock {
    display: none;
}

.card:hover .actionblock {
    display: unset;
}

.code {
    font-family: monospace;
}

.formi {
    border-radius: 0 0 4px 4px;
    border-top: none;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.formi:hover {
    border-bottom: 2px solid var(--color-accent-highlight);
    border-right: 1px solid var(--color-accent-highlight);
    border-left: 1px solid var(--color-accent-highlight);
    box-shadow: 0 2px 2px var(--color-accent-highlight);
}

.formi:invalid {
    background-color: var(--color-negation-major);
}

/*page structure*/

body {
    background: var(--color-background-major);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 8px;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    color: black;
    font-family: system-ui;
}

header.block {
    border-top: none;
    border-bottom: 3px solid black;
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

a {
    color: var(--color-accent-minor);
}

a:hover {
    color: var(--color-accent-highlight);
}