<body>
    <span class="hidden" id="title">Листочек: документация</span>
    <header class="block stretcher">
        <img src="/resources/banner.jpg" height="32">
        <nav class="actionblock">
            <a class="action" href="/">домой</a>
            <a class="action" href="/rules">правила</a>
            <a class="action" href="/devices">устройства</a>
            <a class="action" href="/log">консоль</a>
            <a class="action" href="/doc">справка</a>
            <a class="action" href="/account" id="account">👤 {{user.username}}</a>
        </nav>
    </header>
    <div class="block">
        <div class="bold grand">
            Документация
        </div>
    </div>
    <div class="block stretcher status-bar" style="display: none;">
        <div id="status"></div>
        <div>
            <a class="action" href="#" onclick="hideStatusBar()">скрыть</a>
        </div>
    </div>
    <footer class="block stretcher fixed-bottom">
        <div>
        Листочек, система автоматического контроля растений.
        2023 год. Никакие права не защищены.
        </div>
        <div>
        {{version}}
        </div>
    </footer>
    <script src="/leafyy.js"></script>
</body>
